* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: linear-gradient(
    to bottom,
    #0a3d62,
    /* глубокий тёмно-синий (верх) */ #0a3d62,
    /* глубокий тёмно-синий (верх) */ #1e6091,
    /* средний синий (середина) */ #3498db,
    /* светло-голубой (ниже середины) */ #0d868f
      /* мягкий бирюзово-зелёный (низ) */
  );

  /* background: linear-gradient(
    to bottom,
    #ffffff,
    #f5e6ff,
    #e6c2ff,
    #d19cff,
    #b37fff,
    #8fb3ff
  ); */
  background-attachment: fixed;
  /* ← это важно */
  background-size: cover;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  color: #fff;
  line-height: 4vh;
}

header {
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0;
  /* color: #2c3e50; */
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: medium;
  max-width: 900px;
  margin: auto;
  padding-left: 10px;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

section {
  padding: 0 20px;
  background-color: rgba(179, 257, 255, 0);
  background: none;
}

.content {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  max-width: 900px;
  margin: auto;
  padding: 0 10px;
}

.actions,
.top-actions {
  gap: 15px;
  display: flex;
  max-width: 900px;
  margin: auto;
}

.top-actions {
  margin: auto;
  width: fit-content;
}

/* button {
  padding: 8px 16px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin: 4px 4px 4px 0;
}

button:hover {
  background: #2980b9;
} */

.default-btn {
  background: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 4px;
}

.default-btn:hover {
  background: #2980b9;
}

button.glow-on-hover {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  margin-bottom: 20px;
  /* border: 1px solid #7a00ff; */
  font-size: 12px;
  font-family: inherit;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

button.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}

button.glow-on-hover:active {
  color: #ff7300;
}

button.glow-on-hover:hover:before {
  opacity: 1;
}

button.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 20px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.go {
  max-width: fit-content;
  margin: auto;
}

.delete-btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  margin: 0 auto;
  /* border: 1px solid #7a00ff; */
  font-size: 12px;
  font-family: inherit;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.delete-btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}

.delete-btn:active {
  color: #ff7300;
}

button.glow-on-hover:hover:before {
  opacity: 1;
}

.delete-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 20px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* Анимация перемешивания */
.cards-container.shuffle {
  opacity: 0.7;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.cards-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  gap: 20px;
}

.card.shuffle-move {
  animation: shuffleMove 0.6s ease-in-out;
}

@keyframes shuffleMove {
  0% {
    transform: translateY(0) rotate(0);
  }

  25% {
    transform: translateY(-20px) rotate(-5deg);
  }

  50% {
    transform: translateY(0) rotate(0);
  }

  75% {
    transform: translateY(-10px) rotate(3deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

.danger {
  background: #e74c3c;
}

.danger:hover {
  background: #c0392b;
}

.danger {
  background: #e74c3c;
}

.danger:hover {
  background: #c0392b;
}

/* #decksList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
} */

#deckInfo {
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: start;
  max-width: 900px;
}

#decksList {
  display: flex;
  flex-wrap: nowrap; /* ← запрещаем перенос */
  gap: 20px;
  overflow-x: auto; /* ← включаем горизонтальную прокрутку */
  overflow-y: hidden;
  padding: 8px 10px;
  margin: 0 auto 20px auto; /* компенсируем внутренние отступы */
  max-width: 900px;
  -webkit-overflow-scrolling: touch; /* плавная прокрутка на iOS */
  scroll-snap-type: x proximity; /* опционально: привязка к карточкам */
}

#decksList::-webkit-scrollbar {
  height: 6px;
  /* тонкая полоса */
}

#decksList::-webkit-scrollbar-track {
  background: transparent;
}

#decksList::-webkit-scrollbar-thumb {
  background: #b37fff;
  border-radius: 3px;
}

#decksList::-webkit-scrollbar-thumb:hover {
  background: #8fb3ff;
}

.deck-item {
  scroll-snap-align: start;
  /* опционально: для плавной фиксации */
  flex: 0 0 auto;
  /* ← не сжимать, не растягивать */
  width: 120px;
  /* border: 1px solid #ddd; */
  padding: 12px;
  border-radius: 8px;
  background: rgba(13, 134, 143, 0.1);
  /* background: linear-gradient(
    to bottom,
    #ffffff,
    #f5e6ff,
    #e6c2ff,
    #d19cff,
    #b37fff,
    #8fb3ff
  ); */
  /* background-color: rgba(13, 134, 143, 0.3); */
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 20px;
  color: #fff;
}

.deck-name {
  font-size: ;
  color: #fff;
  margin-bottom: 4px;
  display: block;
}

.number {
  margin-bottom: 20px;
}

.cards-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.card {
  width: calc((100%-20px) / 3);
  min-width: 60px;
  height: 180px;
  cursor: pointer;
  aspect-ratio: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  will-change: transform;
  /* оптимизация анимации */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: rgba(13, 134, 143, 0.3);
  padding: 10px;
  border-radius: 12px;
  max-width: 90%;
  height: 90%;
  overflow-y: auto;
  text-align: center;
  position: relative;
}

.modal-content img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  margin: 12px 0;
}

#modalDesc {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.close {
  position: absolute;
  top: 2px;
  right: 7px;
  color: #fff;
  font-size: 28px;
  font-weight: normal;
  cursor: pointer;
  /* background: rgba(255,255,255,0.5); */
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 2px 6px rgba(0,0,0,0.2); */
}

@media (max-width: 567px) {
  section {
    padding: 0 5px;
  }

  .cards-container {
    gap: 4px;
  }
}
